<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <main>
      <div class="container fluid">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <h3>Create Video Page</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form id="createNewVideoForm" class="mt-5">
              <div class="form-group">
                <label for="name">Name of Video</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  placeholder="Ex: Study with me"
                />
              </div>
              <div class="form-group">
                <label for="description">Desciption</label>
                <input
                  type="description"
                  class="form-control"
                  id="description"
                  placeholder="Ex:Lorem Ipsum...."
                />
              </div>
              <div class="form-group">
                <label for="tags">Tags</label>
                <input
                  type="tags"
                  class="form-control"
                  id="tags"
                  placeholder="Sport,Music"
                />
              </div>
              <div class="form-group">
                <label for="thumbnailImg"
                  >Choose your thumbnail image of video video</label
                >
                <input
                  type="file"
                  name="thumbnailImg"
                  class="form-control-file"
                  id="thumbnailImg"
                />
              </div>
              <div class="form-group">
                <input type="hidden" id="userId" value="<%= user._id %>" />
              </div>
              <div class="form-group">
                <label for="videoFile">Choose your video file</label>
                <input
                  type="file"
                  name="videoFile"
                  class="form-control-file"
                  id="videoFile"
                />
              </div>
              <button id="submitBtn" type="submit" class="btn btn-primary">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--Axios-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      //loading
      const loading = () => {
        $("#submitBtn").text("Loading...");
      };
      $("#createNewVideoForm button[type=submit]").click(async (e) => {
        e.preventDefault();
        const userId = $("#userId").val();
        const name = $("#name").val();
        const description = $("#description").val();
        const tags = $("#tags").val();
        const form = $("changeProfileForm")[0];
        const formData = new FormData(form);
        formData.append("name", name);
        formData.append("description", description);
        formData.append("tags", tags);
        formData.append("videoFile", $("#videoFile")[0].files[0]);
        formData.append("thumbnailImg", $("#thumbnailImg")[0].files[0]);
        formData.append("uploadBy", userId);
        //loading
        loading();
        const response = await axios({
          method: "post",
          url: `/api/videos`,
          data: formData,
          headers: { "Content-Type": "multipart/form-data" },
        });
        if (response.status === 200) {
          location.assign("/");
        }
      });
    </script>
  </body>
</html>
