<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign Up</title>
  </head>
  <body class="bg-neutral-100">
    <main class="h-full">
      <div class="mx-auto px-5 my-20">
        <div
          class="pt-10 md:max-w-none lg:px-28 lg:grid lg:grid-cols-2 mb-4 gap-x-32"
        >
          <div class="px-2">
            <div class="mt-3 mb-11">
              <span class="mb-5 text-4xl font-semibold">Get Started</span>
              <div class="my-5">
                <span class="text-lg font-semibold"
                  >Join for free. Cancel any Time.</span
                >
                <p class="text-base">No card required</p>
              </div>
            </div>
            <form class="flex flex-col my-12">
              <div class="grid grid-cols-2 gap-x-7">
                <div>
                  <label
                    for="firstName"
                    class="text-black mb-1 sign-label required"
                    >FirstName</label
                  >
                  <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    class="py-3 px-4 mb-6 w-full sign-input rounded-lg"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div>
                  <label
                    for="firstName"
                    class="text-black mb-1 sign-label required"
                    >FirstName</label
                  >
                  <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    class="py-3 px-4 mb-6 w-full sign-input rounded-lg"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div class="col-span-2">
                  <label for="email" class="text-black mb-1 required"
                    >Email</label
                  >
                  <input
                    type="email"
                    name="email"
                    class="email"
                    class="py-3 px-4 mb-6 w-full sign-input rounded-lg h-12"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="col-span-2">
                  <label for="password" class="text-black mb-1 required"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    class="password"
                    class="py-3 px-4 mb-4 w-full sign-input rounded-lg h-12"
                    placeholder="Passsword"
                    required
                  />
                </div>
              </div>
              <div class="mb-4 my-6">
                <p class="text-base">
                  By clicking "Create account" above, you acknowledge that you
                  have read and understood, and agree to ConvertBooking's
                  privacy policy.
                </p>
              </div>
              <button
                type="submit"
                style="margin-top: 82px"
                class="h-12 btn text-white bg-black w-full rounded-lg btn-default"
              >
                Sign up
              </button>
            </form>
          </div>
          <div class="lg:mt-3 mt-12 mb-4 lg:mb-0">
            <div
              class="h-full w-full"
              style="background-color: #e0deda; border-radius: 20px"
            >
              <div
                class="flex flex-col justify-center items-center h-full lg:p-0 p-10"
              >
                <div class="mb-16">
                  <div class="flex items-center space-x-4">
                    <img
                      class="!rounded-full rounded w-20 h-20"
                      src="/img/signUp-page/boss.svg"
                      alt="CEO avartar"
                    />
                  </div>
                </div>
                <div class="mb-11">
                  <p class="pr-6 pl-11 text-lg font-semibold">
                    I’m a firm believer in affiliate and word-of-mouth
                    marketing. ConvertBooking helps you do it 100% perfect with
                    video format. Definitely recommend!
                  </p>
                </div>
                <p class="font-semibold">
                  @bryanorosco - Co-founder @SoCool AS
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
